.search-bar {
  width: 200px;
  height: 25px;
  padding-left: 10px;
  border-radius: 20px;
  border: none;
  vertical-align: middle;
  outline: none;
}

.cat-image {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 100%;
}

.tweet-button {
  vertical-align: middle;
  background-color: rgb(29, 155, 240);
  border-radius: 16px;
  border: none;
  color: white;
  padding: 4px;
  width: 60px;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  font-family: arial;
  transition: 0.15s;
}

.tweet-button:hover {
  cursor: pointer;
  background-color: rgb(29, 170, 240);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
}

.tweet-button:active {
  background-color: rgb(29, 155, 240);
}

.comment {
  display: inline-block;

  padding: 8px 12px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}